<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Travelblog</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/navbar.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <div class="logoTitel">
      <img id="logo" alt="logo" src="../images/Logo.svg" />
      <h2 id="titel"><strong>Travel Blog</strong></h2>
    </div>

    <div class="bg-img">
      <style>
        .bg-img {
          background-image: url("../images/nature4.jpg");
        }
      </style>
      <div class="navigation">
        <div class="topnav">
          <a href="../index.html">Home</a>
          <a href="blog.html">Blog</a>
          <a href="impressum.html">Impressum</a>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.3/gsap.min.js"></script>

    <div class="impressum">
      <img alt="logo" src="../images/Logo.svg" id="logoBig" />
      <h1>Impressum</h1>
      <p>
        Stefanie Glarcher<br />Austellungsstrasse 70, 8050 Zürich<br />Technische
        Berufsschule Zürich<br />Email: stefanie.glarcher@edu.tbz.ch<br />Phone:
        0791112233
      </p>
      <p>
        <br />Quelle der verwendeten Bilder:<br />https://pixabay.com/de/images/search/travel/<br />https://pixabay.com/de/images/
      </p>
    </div>

    <div class="card text-center">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
      </div>
      <div class="card-footer text-muted">
        By Stefanie Glarcher
      </div>
    </div>
    <script src="../js/main.js"></script>
  </body>
</html>
