#logo {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-right: 0px;
}

#welcome-banner {
  width: 100%;
  height: 400px;
}

a.navbar-brand {
  text-align: center;
}

h2 {
  font-family: Snell Roundhand;
  font-style: italic;
  color: #a901db;
  margin-left: 150px;
}

#city {
  width: 200px;
  height: 200px;
  margin-top: 80px;
  margin-left: 390px;
  margin-bottom: 300px;
  border-radius: 5px;
}

#matterhorn {
  width: 200px;
  height: 200px;
  margin-top: 80px;
  margin-left: 60px;
  margin-bottom: 300px;
  border-radius: 5px;
}

#yellowstone {
  width: 200px;
  height: 200px;
  margin-top: 80px;
  margin-left: 60px;
  margin-bottom: 300px;
  border-radius: 5px;
}
