#logoTitel {
  display: flex;
  flex-flow: column wrap;
}

#logo {
  display: flex;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-right: 0px;
}

#titel {
  display: flex;
}

#welcome-banner {
  width: 100%;
  height: 400px;
}

a.navbar-brand {
  text-align: center;
}

h2 {
  font-family: Snell Roundhand;
  font-style: italic;
  color: #a901db;
  margin-left: 150px;
}

#city {
  width: 200px;
  height: 200px;
  margin-top: 80px;
  margin-left: 390px;
  margin-bottom: 300px;
  border-radius: 5px;
}

#matterhorn {
  width: 200px;
  height: 200px;
  margin-top: 80px;
  margin-left: 60px;
  margin-bottom: 300px;
  border-radius: 5px;
}

#yellowstone {
  width: 200px;
  height: 200px;
  margin-top: 80px;
  margin-left: 60px;
  margin-bottom: 300px;
  border-radius: 5px;
}

#testcss {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 255, 255, 0.849);
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    background-color: rgb(4, 0, 255);
  }
  25% {
    background-color: rgb(140, 0, 255);
  }
  50% {
    background-color: rgb(195, 0, 255);
  }
  100% {
    background-color: rgb(231, 53, 207);
  }
}

#texttest {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#svganimation {
  animation-name: changing;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes changing {
  0% {
    fill: rgb(145, 3, 201);
    width: 20px;
  }
  100% {
    fill: rgb(255, 0, 170);
    width: 200px;
  }
}

@mixin center-v() {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
}

body {
  overflow-x: hidden;
}
