.logoTitel {
  display: flex;
}

#logo {
  display: flex;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-right: 0px;
}

#titel {
  font-family: Snell Roundhand;
  font-style: italic;
  color: #a901db;
  margin-left: 90px;
  margin-top: 40px;
}

.titleInNav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Snell Roundhand;
  font-style: italic;
  color: #a901db;
}

#titelBlog {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Snell Roundhand;
  font-style: italic;
  color: #a901db;
}

strong {
  font-size: 50px;
}

.carouselCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

#myCarousel {
  max-height: 600px;
  min-height: 600px;
  max-width: 900px;
  min-width: 900px;
  margin-bottom: 30px;
}

.carousel-inner > .item > .imgitem {
  margin: auto;
  max-height: 600px;
  max-width: 900px;
}

#welcome-banner {
  width: 100%;
  height: 100%;
}

a.navbar-brand {
  text-align: center;
}

.imagesCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

#city {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-top: 80px;
  border-radius: 5px;
}

#matterhorn {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-top: 80px;
  margin-left: 60px;
  border-radius: 5px;
}

#yellowstone {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-top: 80px;
  margin-left: 60px;
  border-radius: 5px;
}

.homeText {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

p.groove {
  width: 750px;
  height: 150px;
  border-style: groove;
}

#picLeftBlog {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-left: 20px;
}

#picRightBlog {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
}

.textLeftBlog {
  width: 750px;
  height: 190px;
}

.impressum {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 18px;
}
